

<div class="content-box"><!-- Start Content Box -->

	<div class="content-box-header">

		<h3>添加商品</h3>


		<div class="clear"></div>

	</div> <!-- End .content-box-header -->

	<div class="content-box-content">

		<div class="tab-content" id="tab1"> <!-- This is the target div. id must match the href of this div's tab -->

		</div> <!-- End #tab1 -->

		<div class="tab-content default-tab" id="tab2">


		<fieldset> <!-- Set class to "column-left" or "column-right" on fieldsets to divide the form into columns -->

			<p>
				<label>商品名</label>
				<input class="text-input small-input" type="text" id="goodsName" name="goodsName" />
				<br />
			</p>
			<p>
				<label>分类</label>
				<select name="goodsType" class="small-input" id="goodsType">
					<php>foreach($params['goodsType'] as $t):</php>
					<option value="<php>echo $t['id']</php>"><php>echo $t['name']</php></option>
					<php>endforeach;</php>
				</select>
			</p>
			<p>
				<input class="button" type="button" value="创建" id="submit"/>
			</p>

		</fieldset>

		<div class="clear"></div><!-- End .clear -->


		</div> <!-- End #tab2 -->

	</div> <!-- End .content-box-content -->

</div> <!-- End .content-box -->

<script>
	$("#submit").live('click',function(){
		var name = $('#goodsName').attr('value');
		var type_id = $('#goodsType').attr('value');
		$.ajax({
			type: "POST",
			url: "__APP__/goods/create",
			data:{
				'name':name,
				'type_id':type_id
			},
			dataType:"json",
			success: function(json){
				var result = json;
				window.location.href = baseUrl +'/goods/view/id/'+ result.extra.id;
			}
		});

		return false;
	});
</script>

